
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 header {
    background-color: whitesmoke;
    color: white;
    padding: 20px 0;
    padding-bottom: 0;

}

.nav-container {
    width: 100%;
    text-align: center;
}

.nav-menu {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    width: 100%;
}

.nav-menu li {
    margin: 0 20px;
}

.nav-menu li a {
    text-decoration: none;
    color: purple;
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-menu .logo a {
    font-weight: bold;
    color: black;
    
}


.nav-menu li a:hover {
    color: black    ;
} 

.abrir-menu, .btn-cerrar{
    font-size: 25px;
    background: coral;
    display: none;
} 

/* .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin: 0 20px;
} */

.abrir-menu {
    display: none; /* Ocultar el botón hamburguesa por defecto */
}





/*section*/

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: #fff;
    background-image: url(../imagenes/bg-inicio.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px;
}

#hero p {
    text-align: center;
    color: #fff; 
    font-size: 25px;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.616); 
    padding: 45px; 
    border-radius: 10px; 
    max-width: 80%; 
}

/*section dos */

.section-Dos-container{
    padding: 40px;
    text-align: center;
}

.titulo-persinalizada{
    font-size: 3rem;
    color: #747d2a;
}
.parrafo-personalizada{
    font-size: 1.3rem;
    font-weight: bold;
}
.small-bolder{
    font-weight: bolder;
}

.booking-foto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    gap: 5px;
}

.google-foto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    gap: 5px;
}

.p-numero{
    font-weight: bolder;
    font-size: 20px;
}

/*departamentos section*/

.container-departamentos{
    background-color: #f8f9fa;
    padding: 10px;
}
.p-color{
    color: #747d2a;
    font-size: 3rem;
}

.h2-departamento{
    color: #580849;
    padding: 10px;
    
}
.parrafo-de-departamento-1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin: 10px;
}

/*container-servicios*/
.parrafo-servicios{
    color: #747d2a;
    font-size: calc(1.375rem + 1.5vw);
}

.lista-servicios{
   
    font-weight: bolder;
    list-style: none;

}
/* 
li{
    margin: 10px;
} */


/*section de consultas*/

.container-consultas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: #fff;
    background-image: url(../imagenes/bg-corte.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px;
}

.font-consultas{
    font-size: 2.5rem;
}

.container-consultas-numeros{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bolder;
}

.bg-numero{
    background-color: #fff;
    color: #747d2a;
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
    font-size: 2rem;
}

/*section de ubicacion*/

.container-ubicacion{
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.color-titulo-ubi{
    color: #747d2a;
    font-size: 2.5rem;
}

.font-parrafo-ubi{
    font-weight: bolder;
    font-size: 1.3rem;
}

/*container-contacto*/

.container-contacto{
    text-align: center;
    
    padding: 10px;
}

.color-subti-contacto{
    color: #747d2a;
    font-size: 2.5rem;
    
}

.color-contacto {
    font-weight: bolder;
    font-size: 1.5rem;
}

.lista-contacto{
    list-style: none;
    
}
.btn-mio {
    background-color: #a9bb22;
    color: #fff;
    font-weight: bolder;
    padding: 7px;
    border-radius: 10px;
    border: none;
}

/*container-actividades*/

.container-actividades{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: #fff;
    background-image: url(../imagenes/bg-golf.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px;
}

.text-actividades{
    font-size: 2.5rem;
    font-weight: bolder;
}

.parr-actividades{
    font-size: 1.5rem;
    background-color: #fff;
    color: #212529;
    padding: 25px;
    margin: 20px;
    border-radius: 10px;
}

.varias-actividades{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 1.5rem;
}

.bg-actividades{
    background-color: #fff;
    color: #212529;
    border-radius: 10px;
    padding: 5px;
}

.bg-actividades:hover{
    background-color: #747d2a;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
}

/*footer*/

.footer{
    background-color: #747d2a;
    text-align: center;
    padding: 30px;
}
.color-white{
    color: white;
}
.footer-code{
    background-color: #f8f9fa;
    text-align: center;
}

@media (max-width: 576px) {

    .nav-menu {
        display: none; /* Ocultar el menú en dispositivos móviles por defecto */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .logo{
        height: 50px;
        
    }

    .nav-menu li a{
        font-size: 18px;
    }

    .abrir-menu {
        display: block; /* Mostrar el botón hamburguesa en dispositivos móviles */
        background: none;
        border: none;
        cursor: pointer;
    }

    .abrir-menu i {
        font-size: 24px;
    }

    .nav-menu.visible {
        display: flex; /* Mostrar el menú cuando se abre */
    }


    #hero p{
        font-size: 17px;
        max-width: fit-content;
    }

    .section-Dos-container{
        display: flex;
        flex-direction: column;
    }
    
    .booking-foto{
        display: flex;
        flex-direction: row;
       
    }
   
    .booking-foto p{
        font-size: 12px;
    }

    .container-departamentos{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .carousel-inner{
        margin: 10px;
    }

    .container-servicios img{
        margin: 15px;
    }

    .lista-servicios{
        text-align: center;
    }

    .container-consultas{
        display: flex;
        flex-direction: column;
    }

    .bg-numero{
        font-size: 20px;
    }

    .container-consultas-numeros{
        display: flex;
        flex-direction: column;
    }

    .lista-contacto li{
        font-size: 16px;
        
    }

    .container-actividades{
        display: flex;
        flex-direction: column;
        
    }
    .container-actividades h2{
        color: #a9bb22;
    }

    .container-actividades p{
        font-size: 15px;
    }

    .varias-actividades{
        display: flex;
        flex-direction: column;
        
    }

    .varias-actividades p{
        font-size: 18px;
        background-color: #535b16;
        color: #fff;
    }
}